.title{
    display: flex;
    justify-content: center;
    background-color:pink;
 }
 .sub{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: peachpuff;
 }
 .gall{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pc{
    background-color: plum;
    text-align: center;
}